/* Reset do CSS */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    border: none;
    outline: none;
}

/* Alterando a cor da seleção */
::selection {
    background-color: var(--color-dark-blue);
    color: var(--color-white);
}

/* Estilos do documento */
html,
body {
    height: 100%;
    font-size: 16px;
}
