:root {
    /* Cores */
    --color-gradient-1: #0e6be0;
    --color-gradient-2: #0e36c6;
    --color-dark-blue: #052784;
    --color-white: #ffffff;
    --color-black: #000000;
    --color-gray: #d9d9d9;

    /* Fontes */
    --semibold: "SemiBold";
    --regular: "regular";

    /* Tamanhos de fontes */
    --fs-1: 1.75rem;
    --fs-2: 1.375rem;

    /* Tamanhos */
    --size-1: 1rem;
    --size-2: 1.5rem;
}
