/* Importação do arquivo de estilo de adicionar uma tarefa */
@import "./add-task.css";
/* Importação do arquivo de estilo onde mostram as tarefas */
@import "./all-tasks.css";
/* Importação do arquivo de estilo de editar uma tarefa */
@import "./edit-task.css";

/* Container da aplicação */
.container {
    position: relative;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 5rem;
    padding-top: 7.5rem;
    background-color: var(--color-gradient-1);
    background: linear-gradient(
        90deg,
        var(--color-gradient-1) 0%,
        var(--color-gradient-2) 100%
        );
}